{:full-name "tsuribori/zinemite"
 :ns-name   "tsuribori.zinemite"
 :sanitized "tsuribori/zinemite"
 :name      "zinemite"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
